%h2 住所情報登録
= form_for @destination do |f|
  = render "devise/shared/error_messages", resource: @destination
  .field
    = f.label :苗字
    %br/
    = f.text_field :d_first_name
  .field
    = f.label :d_family_name
    %br/
    = f.text_field :d_family_name
  .field
    = f.label :d_first_name_kana
    %br/
    = f.text_field :d_first_name_kana
  .field
    = f.label :d_family_name_kana
    %br/
    = f.text_field :d_family_name_kana
  .field
    = f.label :post_code
    %br/
    = f.text_field :post_code
  .field
    = f.label :prefecture_code
    %br/
    = f.text_field :prefecture_code
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :house_number
    %br/
    = f.text_field :house_number
  .field
    = f.label :bilding_name
    %br/
    = f.text_field :bilding_name
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
