.signUp-top
  %header.signUp-top__header
    %h1
      %a.signUp-topIcon{:href => "/"}
        = image_tag "logo.png" 
  %main.signUp-top__main
    %section.signUp-top__main__content
      %h2.signUp-text
        新規会員登録
      .signUp-forms
        .signUp-form-email
          %button{:type => "submit"}
            .searchBox__icon
              = image_tag "icons8.png"
            = link_to second_signup_index_path do
              = "メールアドレスで登録する"
        .signUp-form-fb
          %button{:type => "submit"}
            .searchBox__icon
              = image_tag "icons10.png"
            = link_to root_path do
              = "FaceBookで登録する"
        .signUp-form-google
          %button{:type => "submit"}
            .searchBox__icon
              = image_tag "icons9.png"
            = link_to root_path do
              = "Googleで登録する"
            
  %footer.signUp-topFooter
    %nav
      %ul
        %li
          = link_to root_path do  
            = "プライバシーポリシー"  
        %li
          = link_to root_path do  
            = "メルカリ利用規約"  
        %li
          = link_to root_path do  
            = "特定商取引に関する表記"  
      %a.logo-img
        = image_tag "logo-white.png" 
      %a.logo-text
        %Small © Furima