= render 'users/mypage-header'
%body
  .wrapper
    .wrapper_main
      %nav.wrapper_main_profile
        .wrapper_main_profile_header
          -# = image_tag "profile-back.png", size: "1x1"
          .wrapper_main_profile_header_icon
            = image_tag "member_photo_noimage_thumb.png", size: "60x60"
          .wrapper_main_profile_header_name 
            = @user.nickname
          .wrapper_main_profile_header_box 
            %a.wrapper_main_profile_header_box_evaluation 評価 15
            %a.wrapper_main_profile_header_box_exhibition 出品数 10
        .wrapper_main_profile_middle
          .wrapper_main_profile_middle_leftlist
            .wrapper_main_profile_middle_leftlist_news お知らせ
          .wrapper_main_profile_middle_rightlist
            .wrapper_main_profile_middle_rightlist_todo やることリスト
        .wrapper_main_profile_footer
          %img.wrapper_main_profile_footer_imgbox
            = image_tag "logo-white.png", size: "200x60"
          .wrapper_main_profile_footer_text 現在、やることはありません
      %nav.wrapper_main_side
        %ul.wrapper_main_side_menu
          %li.wrapper_main_side_menu_name
            %p マイページ
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name 
            %p お知らせ
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name 
            %p やることリスト
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name 
            %p いいね！一覧
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name 
            %p 出品する
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name 
            %p 出品した商品-出品中
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 出品した商品-取引中
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 出品した商品-売却済み
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 購入した商品-取引中
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 購入した商品-過去の取引
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p ニュース一覧
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 評価一覧
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p ガイド
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p お問い合わせ
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name_title
            %h1 メルペイ
          %li.wrapper_main_side_menu_name
            %p 残高・振込申請
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p ポイント
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name_title_a
            %h2 設定
          %li.wrapper_main_side_menu_name
            %p プロフィール
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 発送元・お届け先住所変更
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            = link_to "支払い方法", cards_path, class:"pay_mean"
            %i_1.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p メール/パスワード
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 本人情報
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            %p 電話番号の確認
            %i.fa.fa-angle-right
          %li.wrapper_main_side_menu_name
            = link_to "ログアウト", root_path, class:"log_out"
            %i_2.fa.fa-angle-right
= render 'home/home-footer'
