.signUp-third
  %header.signUp-third__header
    %h1
      %a.signUp-thirdIcon{:href => "/"}
        = image_tag "logo.png"
    %nav.signUp-third-bar
      %ol.signUp-third-clearfix
        %li.signUp-third-active
          %text 会員情報
          .signUp-third-status
        %li.signUp-third-active-sec
          %text 発送元情報
          .signUp-third-status-second
        %li.signUp-third-active-third
          %text 完了
          .signUp-third-status-third
  %main.signUp-third__main
    %section.signUp-third-text
      %text 発送元・お届け先情報
    %section.signUp-third-name
      .signUp-third-name__box
        .signUp-third-name__box__text
          %text お名前
          .name-box
            必須
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :dest_fas_name, placeholder: "例）山田"
          = form.text_field :dest_fam_name, placeholder: "例）太郎"
      .signUp-third-name__box
        .signUp-third-name__box__text
          %text お名前 カナ
          .name-box
            必須
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :dest_fas_name_kana, placeholder: "例）ヤマダ"
          = form.text_field :dest_fam_name_kana, placeholder: "例）タロウ"
    %section.signUp-third-post_code
      .signUp-third-name__box
        .signUp-third-name__box__text
          %text 郵便番号
          .name-box
            必須
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :post_code, placeholder: "例)　123-4567"
    %section.signUp-third-prefucture
      .signUp-third-name__box
        .signUp-third-name__box__text
          %text 都道府県
          .name-box
            必須
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.select :prefucture_code,{北海道:"1",青森県:"2",岩手県:"3",宮城県:"4",秋田県:"5",山形県:"6",福島県:"7",茨城県:"8",栃木県:"9",群馬県:"10",埼玉県:"11",千葉県:"12",東京都:"13",神奈川県:"14",新潟県:"15",富山県:"16",石川県:"17",福井県:"18",山梨県:"19",長野県:"20",岐阜県:"21",静岡県:"22",愛知県:"23",三重県:"24",滋賀県:"25",京都府:"26",大阪府:"27",兵庫県:"28",奈良県:"29",和歌山県:"30",鳥取県:"31",島根県:"32",岡山県:"33",広島県:"34",山口県:"35",徳島県:"36",香川県:"37",愛媛県:"38",高知県:"39",福岡県:"40",佐賀県:"41",長崎県:"42",熊本県:"43",大分県:"44",宮崎県:"45",鹿児島県:"46",沖縄県:"47",}
    %section.signUp-third-city
      .signUp-third-name__box
        .signUp-third-name__box__text
          %text 市区町村
          .name-box
            必須
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :city, placeholder: "例)　横浜市緑区"
    %section.signUp-third-house
      .signUp-third-name__box
        .signUp-third-name__box__text
          %text 番地
          .name-box
            必須
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :house_number, placeholder: "例)　青山1-1-1"
    %section.signUp-third-building
      .signUp-third-building__box
        .signUp-third-building__box__text
          %text 建物名
          .name-boxs
            任意
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :bilding_name, placeholder: "例)　柳ビル103"
    %section.signUp-third-phone
      .signUp-third-phone__box
        .signUp-third-phone__box__text
          %text 電話番号
          .name-boxs
            任意
      .signUp-third-name__form
        = form_with(model: @user, method: :get, local: true) do |form|
          = form.text_field :phone_number, placeholder: "例)　09012345678"
    %section.signUp-third-btn
      .signUp-third-btn__box
        .signUp-third-btns
          = form_with(url: signup_index_path, model: @user, method: :post, local: true) do |form|
            = form.submit "登録する"
  %footer.signUp-thirdFooter
    %nav
      %ul
        %li
          = link_to root_path do  
            = "プライバシーポリシー"  
        %li
          = link_to root_path do  
            = "メルカリ利用規約"  
        %li
          = link_to root_path do  
            = "特定商取引に関する表記"  
      %a.logo-img
        = image_tag "logo-white.png" 
      %a.logo-text
        %Small © Furima

      