-# %%h2 購入を確定しますか？
-# -# %p Apple MacBook Pro 13インチ
-# %p #{ @item.name }
-# %p #{ @item.price }
-# %br
-# %h3 支払い方法
-# - if @default_card_information.blank?
-#   %br /
-# - else
-#   -#以下カード情報を表示
-#   = "**** **** **** " + @default_card_information.last4
-#   - exp_month = @default_card_information.exp_month.to_s
-#   - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
-#   = exp_month + " / " + exp_year
-# %br
-# = form_tag(action: :pay, method: :post) do
-#   %button 購入する


%body
  .xwrapper
    .xwrapper_header
      .xwrapper_header_btn
        = image_tag src="/assets/logo.png", size: "175x50"
    .xwrapper_main
      %section.header
        %h1 購入内容の確認
      %section.top
        .top__content
          .top__content__box
            .top__content__box__img
              = image_tag @image[0].src.url
      %sectioin.second
        .second__content
          .second__content__text
            %p
              = @item.name 
          .second__content__box
            %ul
              %li.list1 支払い金額
              %li.list2 
              %li.list3 
                = @item.price 
                円
      %section.cash
        .cash__content
          %h3.method-of-payment 支払い方法 
          - if @default_card_information.blank?
            %br /
          - else
            -#以下カード情報を表示
            = "**** **** **** " + @default_card_information.last4
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          %br
      %section.itemBuy-btn
        = form_tag(action: :pay, method: :post) do
          %button 購入する
    .itemBuy-futter
      %ul.futter-texts
        %li
          %a{:href => "#"} 会社概要（運営会社）
        %li
          %a{:href => "#"} プライバシーポリシー
        %li
          %a{:href => "#"} FURIMA利用規約
      .itemBuy-footer__logo
        %a{:href => "/"}
          = image_tag "logo-white.png"
        %p ©︎ FURIMA