.wrapper
  .form__item-header
    = image_tag src="logo.png"
  .form__item
  = form_with model: @item, local: true do |f|
    .form__item-background
      .form__item-image--body
        .form__item-image
          = flash[:edit]
          .form_label
            %label 出品画像
            %span 必須
          %P 最大5枚までアップロードできます
          .form__item-image--content
            .prev-content
              - @item.images.each do |image|
                .preview-box
                  .upper-box
                    - if image.persisted?
                      -# = image_tag image.src.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .update-box
                      %label.edit-btn 編集
                    .delete-box
                      .delete-btn
                        %span 削除
            .label-content
              = f.label :"item_images_attributes_#{@item.images.length}_src", class: "label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :images do |i|
                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :src, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"
                //5つのfile_fieldを準備するに当たって、足りない分を表示
              - @item.images.length.upto(4) do |i|
                %input{name: "item[item_images_attributes][#{i}][src]", id: "item_images_attributes_#{i}_src", class:"hidden-field", type:"file"}
      .form__item-name--body
        .form__item-name
          .form_label
            %label 商品名
            %span 必須
          = f.text_area :name, placeholder: "商品名を入力 40文字まで"
        .form__item-introduction
          .form_label
            %label 商品の説明
            %span 必須
          = f.text_area :introduction, placeholder: "商品の説明（必須1,000文字以内）&#13;&#10;（色、素材、材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。".html_safe 
      .form__item-category--body
        %p 商品の詳細
        .form__item-category
          .form_label
            %label カテゴリー
            %span 必須
            .form__item-category--content
              = f.collection_select :category_id, Category.roots, :id , :name, {include_blank: "---", selected: @item.category&.root_id}, required: true, class: "select-category"
              %br.select-category
              -if @item.persisted?
                = f.collection_select :category_id, @item.category.root.children, :id , :name, {include_blank: "---", selected: @item.category.parent_id}, required: true, class: "select-category", id:"child_category"
                = f.collection_select :category_id, @item.category.siblings, :id , :name, {include_blank: "---", selected: @item.category_id}, required: true, class: "select-category", id:"grandchildren_wrapper"
        .form__item-brand
          .form_label
            %label ブランド
            %span 任意
            .form__item-brand--content
            = f.text_area :brand, placeholder: "ブランド名があれば記入してください"
        .form__item-condition
          .form_label
            %label 商品の状態
            %span 必須
            .form__item-condition--content
            = f.collection_select :item_condition_id, ItemCondition.all, :id, :name
      .form__item-postage_payer--body
        %p 配送について
        .form__item-postage_payer
          .form_label
            %label 配送料の負担
            %span 必須
            .form__item-postage_payer--content
            = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {prompt: '選択して下さい'}
        .form__item-prefecture_code
          .form_label
            %label 発送元の地域
            %span 必須
            .form__item-prefecture_code--content
            = f.collection_select :prefecture_code_id, PrefectureCode.all, :id, :name, {prompt: '選択して下さい'}
        .form__item-preparation_day
          .form_label
            %label 発送までの日数
            %span 必須
            .form__item-preparation_day--content
            = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {prompt: '選択して下さい'}
      .form__item-price--body
        %p 価格（¥300〜9,999,999）
        .form__item-price
          .form__item-price-label
            %label 販売価格
            %span 必須
          .form__item-price-select
            %span ¥
            = f.text_area :price, placeholder: "0"
        .form__item--submit
          = f.submit "編集する", class: 'sell__about__bottom-btn submit'
        .form__item--link
          = link_to "もどる", item_path, class: "form__btn" 
        %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  .item-footer
    %p プライバシーポリシー　メルカリ利用規約　特定商取引に関する表記
    = image_tag src="logo-white.png"
    %p © FURIMA, Inc.
