.show-item
  %header.show-item__header
    %h1
      %a.signUp-topIcon{:href => "/"}
        = image_tag "logo.png" 
  .item-box
    .item-name
      = @item.name
    .item-content
      .item-photo
        .photo-drag
          .photo-outer
            = image_tag @image[0].src.url
  .item-image-box
    - if @image[3].present?
      .item__box__main__sub
        .item__box__main__sub__test1
          = image_tag @image[1].src.url
        .item__box__main__sub__test2
          = image_tag @image[2].src.url
        .item__box__main__sub__test3
          = image_tag @image[3].src.url
    - elsif @image[2].present?
      .item__box__main__sub
        .item__box__main__sub__test1
          = image_tag @image[1].src.url
        .item__box__main__sub__test2
          = image_tag @image[2].src.url
    - elsif @image[1].present?
      .item__box__main__sub
        .item__box__main__sub__test1
          = image_tag @image[1].src.url
    - else 
      .item__box__main__sub
        .item__box__main__sub__test3
  %section.visible-sp
    %table
      %tr
        %th 出  品  者
        %td 
          = @seller.nickname
      %tr
        %th カテゴリー
        %td
          = @category.root.name
          %br
          = @category.parent.name
          %br
          = @category.name


      %tr
        %th ブランド
        %td
          = @item.brand
      %tr
        %th 商品状態
        %td
          = @condition.name
      %tr
        %th 配送料負担
        %td
          = @postage_payer.name
      %tr
        %th 配送元地域
        %td 
          = @prefecture_code.name
      %tr
        %th 配送日の目安
        %td 
          = @preparation_day.name
    .item-middle-content
      .item-price-box
        %section.buy
          = @item.price
          %span.tax 円
          %span.Postage (税込)
      .item-dicription-content
        .item-description-text
          コメント欄
        .item-description-inner
          %p.description
            = @item.introduction
  .buybtn
    .buybtn__box
      - if @item.seller_id == current_user.id
        .item__affix
          .item__affix__edit
            = link_to '商品の編集', edit_item_path(@item)
          .item__affix__delete
            = link_to '商品の削除', item_path(@item),method: :delete
      - else
        .item__affix2
          .item__affix2__buy
            = link_to "購入画面に進む", purchase_path(@item.id), data: {"turbolinks" => false}
  %footer.show-itemFooter
    %nav
      %ul
        %li
          = link_to root_path do  
            = "プライバシーポリシー"  
        %li
          = link_to root_path do  
            = "メルカリ利用規約"  
        %li
          = link_to root_path do  
            = "特定商取引に関する表記"  
      %a.logo-img
        = image_tag "logo-white.png" 
      %a.logo-text
        %Small © Furima